@model IEnumerable<milestone_1.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Enrollments</h1>
@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table" id="myTable1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EnrollmentID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.EnrollmentID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.EnrollmentID">Delete</a>
                    </td>
                }
                @if (User.IsInRole("user"))
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.EnrollmentID">Details</a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#myTable1").dataTable();
        })
    </script>
}
