@model IEnumerable<milestone_1.Models.Teacher>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Teachers</h1>
@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table" id="myTable2">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.SurName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Course)
            </td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
            @if (User.IsInRole("user"))
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#myTable2").dataTable();
        })
    </script>
}
